<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">RBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Mon compte</a>
            </li>
        </ul>

    </div>
</nav>

{% for label, messages in app.flashes %}
    <div>
        <div class="alert alert-{{ label }} " style="margin-bottom:0 !important">
            {% for message in messages %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close" style="text-decoration:none">×</a>
                <p>{{ message|raw }}</p>
            {% endfor %}

        </div>
    </div>

{% endfor %}