<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">RBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="accountDropdownlink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="avatar de {{ app.user.fullName }}"/>
                        {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownlink">
                        <a href="{{ path('ads_create') }}" class="dropdown-item">Créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>

                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                </li>
            {% endif %}

        </ul>

    </div>
</nav>

{% for label, messages in app.flashes %}
    <div>
        <div class="alert alert-{{ label }} " style="margin-bottom:0 !important">
            {% for message in messages %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close" style="text-decoration:none">×</a>
                <p>{{ message|raw }}</p>
            {% endfor %}

        </div>
    </div>

{% endfor %}