{% extends 'base.html.twig' %}

{% block title %}
    Edition de l'annonce :
    {{ adTitle }}
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>
            Edition de l'annonce :
            {{ adTitle }}
        </h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier votre annonce</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ad.js') }}"></script>
{% endblock %}